<div *ngIf="read_only">

    <div *ngIf="person_view">

        <div class="d-flex justify-content-center">
            <div class="column">
                <div class="row">
                    <span class="col-form-label">ID: {{person_view.id}}</span>
                </div>
                <div class="row">
                    <span class="col-form-label">Fullname: {{person_view.fullName}}</span>
                </div>
                <div class="row">
                    <span class="col-form-label">Date Of Birth: {{showDateOfBirth()}}</span>
                </div>
                <div class="row">
                    <span class="col-form-label">Sex: {{person_view.sex}}</span>
                </div>
                <div class="row">
                    <span class="col-form-label">Country Of Birth: {{person_viewBirthCountryDescription}}</span>
                </div>
                <div class="row">
                    <span class="col-form-label">Country Of Residence:
                        {{person_viewResidenceCountryDescription}}</span>
                </div>
                <div class="row">
                    <span class="col-form-label">Telephone: {{person_view.telephone}}</span>
                </div>
                <div class="row">
                    <span class="col-form-label">Email: {{person_view.email}}</span>
                </div>
            </div>
        </div>

        <br>
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-primary" (click)="goBack()">Back</button>
        </div>

    </div>

</div>

<div *ngIf="!read_only">

    <div *ngIf="person_edit">

        <div class="d-flex justify-content-center">
            <div class="column">
                <div class="row input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Fullname</span>
                    <input [(ngModel)]="person_edit.fullName" type="text" class="form-control"
                        value="{{person_edit.fullName}}" placeholder="Fullname" aria-label="Fullname"
                        aria-describedby="basic-addon1">
                </div>
                <div class="row input-group mb-3">
                    <span class="input-group-text" id="basic-addon2">Date Of Birth</span>
                    <input type="text" ngbDatepicker [(ngModel)]="date_picker" [startDate]="date_picker"
                        placeholder="Date Of Birth" #d="ngbDatepicker" />
                    <button (click)="d.toggle()">Toggle</button>
                </div>
                <div class="row input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">Sex</span>
                    <input [(ngModel)]="person_edit.sex" type="text" class="form-control" value="{{person_edit.sex}}"
                        placeholder="Sex" aria-label="Sex" aria-describedby="basic-addon1">
                </div>
                <div class="row input-group mb-3">
                    <span class="input-group-text" id="basic-addon4">Country Of Birth</span>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonBirth"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{person_editBirthCountryDescription}}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a *ngFor="let country of countries" class="dropdown-item"
                                (click)="editCountryOfBirthISO(country.iso)">{{country.description}}</a>
                        </div>
                    </div>
                </div>
                <div class="row input-group mb-3">
                    <span class="input-group-text" id="basic-addon5">Country Of Residence</span>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonResidence"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{person_editResidenceCountryDescription}}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a *ngFor="let country of countries" class="dropdown-item"
                                (click)="editCountryOfResidenceISO(country.iso)">{{country.description}}</a>
                        </div>
                    </div>
                </div>
                <div class="row input-group mb-3">
                    <span class="input-group-text" id="basic-addon6">Email</span>
                    <input [(ngModel)]="person_edit.email" type="text" class="form-control"
                        value="{{person_edit.email}}" placeholder="Email" aria-label="Email"
                        aria-describedby="basic-addon1">
                </div>
                <div class="row input-group mb-3">
                    <span class="input-group-text" id="basic-addon7">Telephone</span>
                    <input [(ngModel)]="person_edit.telephone" type="text" class="form-control"
                        value="{{person_edit.telephone}}" placeholder="Telephone" aria-label="Telephone"
                        aria-describedby="basic-addon1">
                </div>
            </div>
        </div>

        <br>
        <div class="d-flex justify-content-center">
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-primary" (click)="cancelEdit()">Cancel</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-primary" (click)="saveEdit()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>